@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

.file-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

body {
    overflow-y: auto;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;

    /* background-color: #007bff; */
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.custom-file-upload:hover {
    background-color: #0056b3;

    /* border-radius: 20px; */
}

#send_message {
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

#send_message:hover {
    padding: 10px 20px;

    background-color: #0056b3;
}

/* .message:hover{
    border-radius: 20px;
    background-color: #0056b3;
} */
input[type="file"] {
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    /* Скрываем стандартный input */
    cursor: pointer;
}


.border_debug {
    border: solid 1px red;
}

.font-semibold {
    height: 20px;
}

.result_search_tab {
    width: 100%;
    /* text-align: center; */
    display: flex;
    height: 4.8em;
    margin-top: 0.5em;
}

.result_search_tab_info {
    width: 90%;
    border: solid gray 3px;
    margin-left: 5%;
    /* border-radius: 10px; */
    height: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.result_search {
    border: solid rgba(0, 0, 161, 0.694) 3px;
    width: 50%;
    float: right;
    background-color: #1a3568cd;
    border-radius: 10px;
    height: 25em;
    overflow-y: auto;
}

.result_search>h2 {
    font-size: 200%;
    text-align: center;
}

.input_data_for_search {
    width: 50%;
    float: left;
}

.find_friends_input_text {
    color: #fff;
    width: 75%;
    border-radius: 10px;
    background: none;
}

.find_friends_submit {
    background-color: rgb(17 24 39);
    width: 20%;
    border-radius: 10px;
    height: 2.6em;
    margin-left: 1em;
    float: right;
    margin-right: 10px;
}

.find_friends {
    margin-top: 3em;
    width: 100%;
    display: flex;
}

.user_image {
    float: left;

    width: 4.5em;
    height: 100%;
}

.user_image>img {
    border-radius: 50%;
}

.text_info_search {
    margin-left: 3em;
    width: 70%;
    height: 100%;
}


.post {
    width: 50%;
    border-radius: 3%;
    border-color: black;
    border-width: 0.05cm;
    height: flex;
    background-color: #8f8ead46;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1em;
    margin-top: 5%;
    /* margin-top: ; */
}

.avatar {
    width: 3.2em;
    height: 3.2em;
    border-radius: 100%;
    border-color: black;
    border-width: 0.05cm;

    margin-left: 4%;

    margin-bottom: 1em;
    margin-top: 4%;
}

.avatar>img {
    border-radius: 100%;
}

.username {

    border-color: black;
    border-width: 0.0cm;
    width: 70%;
    height: 2em;
    margin-left: 90px;
    margin-top: -65px;
}

.timecode {
    border-color: black;
    border-width: 0.0cm;
    width: 15%;
    height: 0.9em;
    margin-left: 90px;
    margin-top: -0.3em;
}

.foto {
    border-color: black;
    border-width: 0.05cm;
    width: 90%;
    height: flex;
    margin-left: 5%;
    margin-top: 5%;
}

.description {
    border-color: black;
    border-width: 0.05cm;
    width: 90%;
    height: flex;
    margin-left: 5%;
    margin-top: 1%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.likes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40px;
    height: 40px;
    border-color: black;
    border-width: 0.05cm;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 5%;
}

.comments {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40px;
    height: 40px;
    border-color: black;
    border-width: 0.05cm;
    margin-top: -60px;
    margin-bottom: 20px;
    margin-left: 70px;
}

.share {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40px;
    height: 40px;
    border-color: black;
    border-width: 0.05cm;
    margin-top: -60px;
    margin-bottom: 20px;
    margin-left: 115px;
}

.chats {
    width: 90%;
    border-color: rgb(27, 27, 43);
    border-width: 0.1cm;
    border-radius: 10px;
    height: flex;
    background-color: rgb(27, 27, 43);
}

.name {
    width: flex;
    margin-left: 5%;
}

.lastmessege {
    margin-left: 5%;
    background-color: rgb(27, 27, 43);
    width: 90%;
    border-radius: 10px;
    border-top-left-radius: 5px;
}

.txt {
    margin-left: 5px;
    max-width: 180px;
    height: flex;
}

.messegetime {
    margin-left: 80%;
    margin-top: -20px;
}

.a {
    height: flex;
    width: 30%;

    position: absolute;
    top: 2cqb;
    margin: auto;

}

.opened_chat {
    width: 70%;
    /* height: 200vh; */
    height: 96%;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(27, 27, 43);
    margin-left: 31%;
    margin-top: -0.8cqb;
}

.p-6 {

    position: relative;
}

.py-12 {
    width: 100%;
    margin-left: 0;

    height: 85.9cqb;
}

.max-w-10xl {
    margin-top: -3cqb;
}

.main_plane {
    border: solid white 1px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    height: 100%;
}

.all_chats_list {
    border-radius: 20px;
    /* border-right: none ; */
    border-right: solid 1px white;
    overflow-y: auto;
    width: 30%;
    height: 100%;
}

.chat_tab {
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    display: flex;
    height: 5.3em;
    margin-top: 1%;
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 20px;
}

.chat_tab:hover {
    border-radius: 20px;
    background-color: rgba(142, 142, 142, 0.3);
}

.call_window {
    width: 80%;
    height: 80%;
    background-color: black;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 9999;
    display: flex;
}

.call_div_info {
    width: 90%;
    margin-left: 5%;
    height: 100%;
    /* margin-top: 1%; */

}

.call_info_header {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.call_header_avatar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 7em;
    /* border-radius: 100%; */
}

.call_header_avatar>img {
    width: 7em;
    border-radius: 100%;
}

.call_header_name {
    color: white;
    font-size: large;
    font-weight: 500;
    text-align: center;
}

.call_info_body {
    /* background-color: white; */
    /* height: 20%; */
}

.call_state {
    color: white;
    text-align: center;
    font-weight: 600;
    /* background-color: aqua; */
}

.body {
    height: 65%;
    /* background-color: #fff; */
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
}

.call_video {
    height: 85%;
    display: flex;
    justify-content: space-between;
}

/* .call_video>video {
    height: 70%;
    border: 1px solid blue;
    object-fit: cover;
    transform: scaleX(-1);
} */

#localVideo {
    width: 48%;
    /* height: 80%; */
    border: 1px solid blue;
    object-fit: cover;
    transform: scaleX(-1);
    pointer-events: none
        /* background: green; */
}

#remoteVideo {

    width: 48%;
    /* height: 80%; */
    border: 1px solid blue;
    object-fit: cover;
    transform: scaleX(-1);
    /* background: yellow; */
}

.call_options {
    background-color: white;
    width: 100%;
}

.chat_foto {
    margin-left: 1%;
    border-radius: 50%;
    width: 15%;
    height: 100%;
    border: solid 1px rgba(0, 0, 0, 0);
}

.chat_foto>img {
    border-radius: 50%;
}

.right_side_chat_tab {
    margin-left: 5%;
    display: flex;
    width: 75%;
    flex-direction: column;
}

.chat_info {
    width: 100%;
    display: flex;
    height: 50%;
    float: right;
}

.chat_name {
    width: 80%;
    float: left;
    /* background-color: aqua; */
}

.last_message_time {
    width: 12.5%;
    /* background-color: wheat; */
    /* float: right; */
}

.read_receipts {
    /* background-color: rebeccapurple; */
    text-align: center;
    width: 7.5%;
}

.last_message {
    display: flex;
    width: 90%;
    height: 100%;
    /* background-color: white; */
}

.messages_plane {
    border-radius: 20px;
    border: 1px solid white;
    width: 70%;
    border-left: none;
    border-bottom: none;
    border-right: none;
    position: relative;
}

#messages_plane {
    visibility: hidden;
}


.message_input_form {
    border: 1px solid white;
    border-radius: 20px;
}

.input {
    height: 10%;
}

.messages {
    background-color: rgba(46, 55, 107, 0.301);
    height: 80%;
    overflow-y: auto;
}

.messages::-webkit-scrollbar {
    visibility: hidden;
    width: 1%;
}

.message_input {
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    border-radius: 20px;
    width: 85%;
    height: 3.2em;
    background: none;
}

.message {
    color: black;
    min-height: 10%;
    height: auto;
    display: flex;
    margin-top: 0.3%;
    display: flex;
    flex-direction: column;
}

.no_select {
    user-select: none;
    /* Для современных браузеров */
    -webkit-user-select: none;
    /* Для Safari */
    -moz-user-select: none;
    /* Для Firefox */
    -ms-user-select: none;
    /* Для Internet Explorer/Edge */
}

.my_message {
    padding: 15px;
    margin-right: 1%;
    background-color: rgb(0, 123, 172);
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    max-width: 55%;
    /* min-width: 15em; */
    height: 100%;
    align-self: flex-end;
    display: flex;
}

.my_message_with_media {
    padding: 0;
}

.recived_message_with_media {
    padding: 0;
}

.user_info_header_is_typing {
    color: gray;
    height: 50%;
}

.user_info_header_is_online {
    height: 50%;
}

.online_in_chats_list {
    display: flex;
    font-size: x-small;
    color: gray;
}

.heeader_buttons {
    border: 1px solid blue;
    height: 100%;
    /* width: 100%; */
    /* float: right; */
    /* width: 100%; */
    display: flex;
}

#imageInput {
    display: none;
}

.call_button {
    /* border: 1px solid white; */
    /* height: 100%; */
    text-align: center;
    /* font-size: 300%; */
    /* float: right; */
    /* vertical-align: middle; */
    /* justify-content: space-between; */
}

.message_time {
    color: skyblue;
    /* height: ; */
    width: auto;
    text-align: right;
    /* width: 5em; */
    /* width: 20%; */
    /* padding-left: 2px;
    padding-right: 2px; */
    display: flex;
    float: right;
    font-size: x-small;
    justify-content: center;
    /* border: 1px solid white; */
    /* Центрирование по горизонтали */
    align-items: flex-end;
}

.message_media_photo>img {
    width: auto;
    max-height: 25em;
    border-radius: 15px;
    /* float: right; */
    /* margin-right: 100%; */
    /* float: right; */
}

.message_media_photo {
    width: auto;
    height: auto;
    padding: 0.5%;
    /* width: fit-content; */
    display: flex;
    /* border: 1px solid white; */
    /* width: ; */
    /* height: -moz-fit-content;
    width: -moz-fit-content; */
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
}


.my_message_data {
    display: flex;
    /* flex-direction: column; */
    /* border: 1px solid blue; */
    /* align-self: flex-end; */
}

.my_message_text_data_with_media {
    display: flex;
    align-self: flex-end;
}

.my_message_data_with_media {
    display: flex;
    /* border-radius: 20px; */
    flex-direction: column;
}

.recived_message {
    padding: 15px;
    margin-left: 1%;
    background-color: rgba(38, 38, 43, 0.733);
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    max-width: 55%;
    min-width: 10%;
    align-self: flex-start;
    height: 100%;
    display: flex;
    color: #fff;
    /* text-align: right; */
}

.my_message_text {

    display: flex;
    width: 50em;
    width: auto;
    /* border: 1px solid white; */
}

.recived_message_text {
    display: flex;
    width: 85%;
    /* border: 1px solid white; */
}

/* .recived_message_text{} */
.my_message_read_state {
    display: flex;
    width: 2em;
    float: right;
    font-size: x-small;
    /* font-weight: 300; */
    font-style: italic;
    /* font-style:inherit; */
    color: black;
    /* display: flex; */
    justify-content: center;
    /* Центрирование по горизонтали */
    align-items: flex-end;
    /* border: 1px solid white; */
    /* top: 0; */
    /* text-align: end; */
}

/* .message_p { */
/* word-wrap: break-word; */
/* } */
.message_p {
    word-break: break-word;
}

.user_info_header {
    /* border-top: solid 0pxsearch_friends_box; */
    border: 1px solid white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    /* border-radius: 20px; */
    width: 100%;
    height: 11%;
    display: flex;
    /* flex-direction: column; */
    /* background-color: #fff; */
}

.user_info_header_without_foto {
    margin-left: 1%;
    height: 100%;
    padding-left: 1%;
    padding-right: 3%;
    flex-direction: column;
}

/* .user_info_header_without_foto>img{
    height: 100%;
} */
.user_info_header_foto {
    height: 100%;
    width: 6%;
    border-radius: 50%;
    float: left;

}

.user_info_header_foto>img {
    /* height: 100%;s */
    border-radius: 50%;
}

.user_info_header_name {
    height: 28%;
    width: 150%;
}



@keyframes blink {
    0% {
        background-color: transparent;
        /* Начальный прозрачный фон */
    }

    50% {
        background-color: rgba(255, 255, 255, 0.3);
        /* Моргаем белым цветом */
    }

    100% {
        background-color: transparent;
        /* Возвращаемся к прозрачному фону */
    }
}

.blink-background {

    color: white;
    border-radius: 10px;
    animation: blink 1s forwards;
}

.unread_messages {
    display: flex;
    width: 12.5%;

    justify-content: center;
    align-items: center;
    /* display: flex; */
    /* text-align: center; */
    /* right: 0; */
    /* text-align: right; */
    /* float: right; */
    /* background-color: #fff; */
}

.about_messaegs {
    display: flex;
    height: 50%;
}

.unread_messages_counter {
    display: none;
    /* visibility: hidden; */
    width: 50%;
    height: 50%;
    background-color: #fff;
    border-radius: 100%;
    /* vertical-align: middle; */
    /* text-align: center; */
    font-size: small;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: #000;
}

.search_friends_box {
    /* width: 100%; */
    display: flex;
}

.search_form_div {
    /* background-color: #fff; */
    height: 65vh;
    display: flex;
    flex-direction: column;
    width: 50%;
    float: left;
    /* height: 100%; */
    /* background-color: blue; */
    /* background: #000; */
}


.friends_search_input {
    margin-top: 0.5em;
    color: white;
    /* opacity: 0; */
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    width: 85%;
    /* background-color: none; */
}

.friends_search_input:focus {
    background-color: rgba(17, 24, 39, 0.836);
}

.friends_search_input::placeholder {
    color: white;
    opacity: 0.8;
}

#unread_messages_mark {
    background-color: rgba(255, 2, 2, 0.493);
}

.search_results {
    display: flex;
    width: 50%;
    float: right;
    /* background-color: white; */
    /* width: 100%; */
    height: 65vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

*::-webkit-scrollbar {
    visibility: hidden;
    width: 1%;
}

.search_results::-webkit-scrollbar {
    visibility: hidden;
    width: 1%;
}

.search_results_tab {
    background-color: rgba(17, 24, 40, 0.6);
    display: flex;
    border-radius: 20px;
    width: 100%;
    height: 100px;
    margin-top: 0.5em;
    border: 1px solid rgba(17, 24, 40, 0.6);
}

.search_results_tab:hover {
    background-color: rgba(54, 70, 99, 0.7);
    border: 1px solid white;
}

.search_user_image {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* align-items: center; */
    flex: 0 0 auto;
    /* Не позволяет изображению растягиваться */
    height: 100%;
    /* Высота изображения равна высоте родительского div */
}

.search_user_image img {
    /* margin-left: 5%;
    margin-top: 5%; */

    border-radius: 50%;
    height: 90%;
    /* width: ; */
    /* Высота изображения равна высоте родительского div */
    object-fit: cover;
    /* Сохраняет пропорции изображения */
}

.user_name {
    flex: 1;
    /* height: 10px; */
    font-size: large;
    /* vertical-align: middle; */
    /* Растягивает этот div, чтобы занять оставшееся пространство */
    padding-left: 10px;
    /* height: 10/%; */
    /* width: 50%; */
    /* Добавьте отступ для текста */
}

.user_info_and_links {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user_actions_buttons {
    border-radius: 20px;
    transition: 0.5s;
    width: 40%;
    text-align: center;
    border: 1px solid white;
    /* font-size: large; */
}

.user_actions_buttons:hover {
    /* font-size: large; */
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgb(31, 41, 55)(142, 142, 142, 0.671);
    transition: 0.5s;
}

.remove_friend:hover {
    background-color: red;
}

.friend_request:hover {
    background-color: #0056b3;
}

.nothing_for_your_query {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nothing_for_your_query>h2 {
    font-size: 150%;
}

#search_friends_start {
    transition: 0.5s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
    border: 1px solid white;
}

#search_friends_start:hover {
    background-color: #0056b3;
    border: 1px solid rgba(0, 0, 0, 0);
}

.list_user_friends,
.list_friend_request {
    height: 85%;
    overflow-y: auto;
}

.friend_queries_selector {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.friend_queries_selector>h2 {
    transition: 0.5s;
    width: 45%;
    text-align: center;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid white;
}

.user_actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
    width: 100%;
}

.request_actions>div {
    width: 30%;
    font-size: small;
}

.friends {
    overflow-y: auto;
}

.div_search_input {
    height: 15%;
}

.list_friend_request {
    /* pointer-events: ; */
    display: none;
}

.dismiss_request:hover {
    background-color: red;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.accept_request:hover {
    background-color: #0056b3;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.notifications {
    /* width: 30vw; */
}

.notification_tab {
    transition: 0.1s;
    font-size: 90%;
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;
    /* margin-top: 5%; */
}

.notification_tab:hover {
    background-color: rgb(31, 41, 55);
}

.not_read {
    background-color: #0056b3;
    animation: unread 1.5s infinite;
    /* animation:; */
}

@keyframes unread {
    0% {
        background-color: transparent;
        /* Начальный прозрачный фон */
    }

    50% {
        background-color: #0056b3;
        /* Моргаем белым цветом */
    }

    100% {
        background-color: transparent;
        /* Возвращаемся к прозрачному фону */
    }
}

.user_page_plane {
    height: 65vh;
    display: flex;
}

.left_side_plane {
    display: flex;
    flex-direction: column;
    width: 15%;
    float: left;
}

.central_side_plane {
    width: 60%;
}

.right_side_plane {
    width: 25%;
    float: right;
}

.user_avatar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.user_avatar_img {
    border-radius: 50%;
    max-width: 100%;
    /* Ограничение ширины изображения */
    height: auto;
    /* Поддержка пропорций */
}

.user_name_lastname_username {
    font-size: large;
    display: flex;
    flex-direction: column;
}

.user_name_lastname {
    text-align: center;
}

.user_username {
    cursor: pointer;
    text-align: center;
}

.write_user:hover,
.make_post_button:hover,
.add_friend_userpage:hover {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #0056b3;
}

.left_user_actions_buttons_userpage {
    cursor: pointer;
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 5%;
    font-size: small;
    text-align: center;
    padding: 5px;
    transition: 0.5s;
}

.remove_friend_userpage:hover {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: red;
}

.user_posts {
    /* height: auto; */
    /* height: 450px; */
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.user_post_tab {
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* margin-top: 5%; */
    /* background-color: blue; */
}

.user_post_rect {
    margin-top: 5%;
    background-color: rgb(43, 54, 81);
    display: flex;
    width: 70%;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid white;
    margin-bottom: 5%;
}

.post_header {
    margin-top: 2%;
    height: 50px;
    display: flex;
    /* justify-content: flex-end; */
}

.post_header {
    justify-content: space-around;
    /* border: 1px solid black; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    right: 0;
    display: flex;
    align-items: center;
}

.post_image {
    border-radius: 50%;
    height: 100%;
}

.post_date {
    display: flex;
    font-size: 70%;
    font-weight: 600;
}

.post_author {
    width: 45%;
    font-size: 100%;
    /* text-align: left; */
}

.post_data_rect {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post_data {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post_text {
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

.post_data_image {
    /* position: relative; */
    margin-top: 2%;
    /* width: 50%; */
}

.arrows {
    display: flex;
    justify-content: space-between;
}

.left_arrow {
    display: flex;
    justify-content: flex-end;
    transform: scaleX(-1);
}

.right_arrow {
    display: flex;
    justify-content: flex-end;
}

.arrow_img {
    z-index: 1000;
    opacity: 0.5;
    width: 15%;
}

.post_footer {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    /* border: 1px solid red; */
    /* border-radius: 20px; */
    padding: 2%;
    justify-content: space-between;
}

.post_likes {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: gray;
    border-radius: 10px;
    padding: 1%;
    min-width: 25%;
    width: min-content;
    transition: 0.5s;
    border: 1px solid transparent;
}

.post_likes:hover {
    color: black;
    background-color: white;
}

.post_likes_clicked {
    pointer-events: none;
    opacity: 0.5;
}

.post_likes_counter {
    display: flex;
    flex-direction: row;
    /* background-color: gray; */
    border-radius: 10px;
    padding: 1%;
    min-width: 40%;
    width: min-content;
}

.post_watchers {
    align-items: end;
    text-align: center;
    font-size: 65%;
    display: flex;
    /* background-color: gray; */
    border-radius: 10px;
    padding: 1%;
}

.post_comments {
    /* margin-top: 5%; */
    /* margin-bottom: 5%; */
    /* margin-bottom: 2%; */
    /* height: 30%; */
    border-top: 1px solid black;
    display: flex;
    /* padding: 5%; */
}

.post_comments_input {
    margin-top: 2%;
    margin-bottom: 2%;
    /* height: 90%; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    /* flex-direction: column; */
    /* align-items: center; */
}

.text_input_comment {
    margin-left: 5%;
    /* height: auto; */
    /* max-height: 100%; */
    width: 65%;
    max-width: 70%;
    border-radius: 15px;
    color: black;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    height: 40px;
    padding: 5px;
}

.send_comment {
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    border: 1px solid white;
    width: 100%;
    height: 40px;
    /* height: 50%; */
    margin-right: 2%;
    border-radius: 20px;
    transition: 0.5s;

    /* float: right; */
}

.send_comment:hover {
    border: 1px solid transparent;
    background-color: #0056b3;
}

.head_posts {
    /* height: 5%; */
    border: 1px solid red;
    display: flex;
    font-size: 150%;
    /* text-align: center;
    align-items: center; */
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.div_send_comment {
    width: 25%;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    margin-right: 2%;
}

.make_post_plane {
    /* transition: 0.5s; */
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.219);
}


.make_post {
    border-radius: 20px;
    border: solid 1px white;
    width: 60%;
    height: 80%;
    display: flex;
    background-color: rgb(38, 41, 49);
    flex-direction: column;

}

.make_new_post {
    text-align: center;
    width: 100%;
    height: 10%;
    /* padding: 1%; */
    color: white;
    font-size: 175%;
}

.new_post_inputs {
    border-top: 1px solid black;
    height: 90%;
    /* height: 100%; */
    display: flex;
}

.right_side_new_post_inputs {
    border-left: 1px solid black;
    /* background-color: #0056b3; */
    width: 50%;
    float: right;
    overflow-y: auto;
    box-sizing: border-box;
    /* height: 90%; */
    /* height: max-content; */
    /* height: min-content; */
    /* display: flex; */
}

.left_side_new_post_inputs {
    /* background-color: aqua; */
    /* overflow: auto; */
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
    /* justify-content: center; */
    /* align-items: center; */
}

.input_post_text_div {
    margin-top: 5%;
    height: 65%;
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_left_side_new_post_input {
    /* border: 1px solid red; */
    text-align: center;
    color: #fff;
    font-size: 125%;
    margin-top: 5%;
}

.input_post_text {
    /* margin-top: ; */
    /* position: fixed; */
    resize: none;
    width: 90%;
    height: 100%;
    /* margin-top: 5%; */
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.preview_images {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* gap: 10px; */
    /* border: 1px solid #ccc; */
}

.img_container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* justify-content: center; */
    /* border: 1px solid blue; */
    margin-top: 5%;
    /* margin-top: 5%; */
    /* margin-left: 5%; */
    /* border: 1px solid red; */
    /* position: relative; */
    /* display: inline-block; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-around; */
}

.preview_image {
    /* border: 1px solid red; */
    height: 150px;
    display: flex;
    border: 1px solid #fff;
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* margin-left: 15%; */
    /* max-width: 150px;
    max-height: 150px;

    padding: 5px; */
}

.preview_image:hover {
    /* background-color: red; */
    opacity: 0.5;
}

.remove_image {
    display: none;
    position: absolute;
    /* top: 5px; */
    right: 5px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

.all_uploaded_images_post {
    /* border: 1px solid red; */
    /* max-height: 100%; */
    /* height: min-content; */
    /* overflow-y: auto; */
    /* border: 1px solid red; */
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    /* align-items: center; */
    /* flex-direction: column; */
}

.label_for_upload_images {
    /* padding: -5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    width: 60%;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    font-size: 125%;
    cursor: pointer;
    transition: 0.5s;
}

.div_label_for_upload_images {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5%;
    /* align-items: center; */
}

.label_for_upload_images:hover {
    border: 1pz solid rgba(0, 0, 0, 0);
    background-color: #0056b3;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.image-gallery>li {
    height: 150px;
    cursor: pointer;
    position: relative;
    /* flex: 1 1 auto; */
    /* flex-grow: 2; */
    /* flex-basis: 350px; */
}

.image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    /* flex-basis: 350px; */
}

.image-gallery::after {
    content: "";
    flex-basis: 350px;
}

.phoh_list {
    border: 1px solid rgba(0, 0, 0, 0);
}

.photo_list:hover {
    /* border: 1px solid white; */
    /* opacity: 0.5; */
    /* background-color: red; */
    /* background-color: linear-gradient(to top, red, rgba(255, 0, 0, 0)); */
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.6);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.3s 0.2s ease-in-out;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-gallery li:hover .overlay {
    transform: scale(1);
    border: 1px solid white;
}

.publish_post {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    height: 10%;
}

.button_publish_post,
.button_cancel_publish_post {
    height: 100%;
    border: 1px solid white;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 40%;
    /* width: 35%; */
    color: white;
    /* padding: 5%; */
    transition: 0.5s;
}

.button_publish_post:hover {
    background-color: #0056b3;
    border: 1px solid rgba(0, 0, 0, 0);
}

.button_cancel_publish_post:hover {
    background-color: red;
    border: 1px solid rgba(0, 0, 0, 0);
}

.make_post_button {
    display: none;
    /* visibility: hidden; */
}

.liked_post {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: red;
    border: 1px solid white;
    pointer-events: none;
}

.liked_post:hover {
    background-color: red;
    border: 1px solid white;
}

.comments_plane {
    overflow-y: auto;
    display: none;
    max-height: 250px;
    flex-direction: column;
    width: 100%;
}

.comment_tab {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px black solid;
}

.comment {
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    width: 90%;
}

.comentatr_avatar {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width: 12%;
}

.comentatr_avatar>img {
    height: auto;
    width: 100%;
    border-radius: 50%;
}

.commentator_name {
    margin-top: 2%;
    width: 40%;
    /* margin-: 2%; */
    /* margin-left: 5%; */
}

.commentor_name_comment_text {
    font-weight: 300;
    width: 90%;
}

.comment_text>p {
    padding: 2%;
    word-break: break-all;
    word-wrap: break-word;
}

.comment_text {
    width: 90%;
    border: 1px solid white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    border-radius: 15px;
    margin-top: 2%;
    margin-bottom: 2%;
    /* margin-left: 5%; */
    color: #fff;
}

.open_comments {
    transition: 0.5s;
    border: 1px solid red;
    width: 40%;
    cursor: pointer;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    text-decoration: none;
    user-select: none;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid white;
}

.open_comments:hover {
    background-color: #0056b3;
    border: 1px solid transparent;
}

.close_comments:hover {
    background-color: red;
    border: 1px solid transparent;
}

.not_comments {
    /* vertical-align: center; */
    border: 1px solid red;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* padding: 10%; */
    /* margin-top: 5%;
    margin-bottom: 5%; */
    font-size: 125%;
    /* text-align: center; */
}

.post_time {
    margin-top: 3.5%;
    width: 50%;
    font-size: 70%;
    /* width: 40%;W */
}

.about_post {
    display: flex;
}

.new_post {
    background-color: rgba(255, 255, 255, 0.3);
}

.channels_main_plane {
    border: 1px solid red;
    height: 100%;
}

.select_tabs_channels {
    /* float: right; */
    color: #fff;
    display: flex;

    /* justify-content: space-around; */
}

.select_tab {
    justify-content: center;
    align-items: center;
    display: flex;
    /* text-align: center; */
    width: 10%;
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px;
    margin-left: 5%;
    transition: 0.5s;
    background-color: transparent;
}

.select_tab:hover {
    background-color: #0056b3;
    border: 1px solid transparent;

}
/* #select_tab_0:hover{
    background-color: #0056b3;
    border: 1px solid transparent;
} */
.selected_channel_tab {
    background-color: #0056b3;
    border: 1px solid transparent;
}

.opened_tab {
    height: 100%;
    display: none;
}

.opened_tab_plane {
    height: 60vh;
}

.your_subscriptions {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    /* float: right; */
    width: 40%;
}

.your_subscriptions>h1 {
    text-align: center;
    font-size: 150%;
    padding-top: 2%;
    padding-bottom: 2%;
    /* margin-top: ; */
}

.subscriptions_list {
    overflow-y: auto;
    height: 100%;
    /* background-color: #0056b3; */
    display: flex;
    flex-direction: column;
}

.subscription_tab {
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 5%;
    /* height: 20%; */
    height: 5em;
    display: flex;
    /* align-items: center; */
}

.subscription_tab:hover {
    background-color: rgba(41, 65, 151, 0.829);
}

.img_container_subscription_tab {
    border: 1px solid red;
    margin-left: 2%;
    /* width: 15%; */
}

.img_container_subscription_tab>img {
    height: auto;
    /* ma */
    /* width: 100%; */
    border-radius: 50%;
    /* width: 100%; */
    /* height: auto; */
    /* height: 100%; */
}

.left_side_subscription_tab {
    /* display: flex; */
    /* text-align: center; */
    /* vertical-align: baseline; */
    /* align-items: center; */
    margin-top: 0.4%;
    width: 15%;
    margin-left: 1%;
    margin-right: 1%;
}

.left_side_subscription_tab>img {
    /* height: auto; */
    /* width: 100%; */
    border-radius: 50%;
}

.right_side_subscription_tab {
    width: 85%;
}

.last_post_time {
    font-size: 75%;
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
    /* margin-top: 2%; */
    /* vertical-align: bottom; */
}

.last_post_time>p {
    padding: 5%;
    /* margin-top: ; */
}

.last_post {
    height: 60%;
    display: flex;
    /* text-align: center; */
}

.channel_name {
    height: 40%;
}

.last_post_text {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.last_post_text>p {
    /* margin-left: 5%; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.create_channel {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 33.33%;
}

.my_channels {
    width: 33.33%;
}

.statistic {
    overflow-y: auto;
    width: 33.33%;
}

.my_channels_options_header {
    margin-top: 2%;
    font-size: 150%;
    text-align: center;
    user-select: none;
}

.new_channel_form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.new_channel_inputs {
    width: 90%;
    margin-top: 5%;
    height: 5vh;
    /* height: 110%; */
    color: black;
    border-radius: 20px;
}

#preview , #new_preview{
    border: 1px solid red;
    display: none;
    position: relative;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    /* display: flex; */
}

#preview img {
    border-radius: 50%;
    /* margin-left: 10%; */
    width: 80%;
}

.remove-button {

    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.remove_channel_avatar_button {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 30%;
    border: 1px solid white;
    padding: 1%;
    border-radius: 20px;
    transition: 0.5s;
    user-select: none;
}

.remove_channel_avatar_button:hover {
    border: 1px solid transparent;
    background-color: red;
}

#channel_name,
#channel_unique_name,
#new_channel_name,
#new_channel_unique_name {
    width: 90%;
    margin-top: 5%;
}

#label_for_channel_avatar_upload, #new_label_for_channel_avatar_upload {
    /* font-style: oblique; */
    margin-top: 5%;
    user-select: none;

}
#new_label_for_channel_avatar_upload{
    border: 1px solid white;
    padding: 1%;
    border-radius: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
#new_label_for_channel_avatar_upload:hover{
    background-color: #0056b3;
    border: 1px solid transparent;

}
.create_channel_button {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 20px;
    width: 40%;
    padding: 1%;
    text-align: center;
    transition: 0.5s;
    user-select: none;
}

.create_channel_button:hover {
    background-color: #0056b3;
    border: 1px solid transparent;
}

.send_req {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.channel_settings {
    /* margin-top: 5%; */
    border: 1px solid white;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 1%;
    transition: 0.5s;
    cursor: pointer;
    user-select: none;
}

.channel_settings:hover {
    background-color: #0056b3;
    border: 1px solid transparent;
}

.my_channel_tab {
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 6%;
    height: 23%;
    display: flex;
    /* align-items: center; */
}

.left_side_my_channel_tab {

    display: grid;
    place-items: center;
    width: 15%;
    margin-left: 1%;
    margin-right: 1%;
}

.left_side_my_channel_tab>img {
    /* height: auto; */
    /* width: 100%; */
    /* margin-top: 1%; */
    border-radius: 50%;
}

.right_side_my_channel_tab {
    width: 85%;
}

.channel_names {
    margin-top: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.channel_settings_tab {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.unique_channel_name{
    font-style: italic;
    cursor: pointer;
}

.channel_settings_tab{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.new_params_channel_input{
    /* overflow-y: auto; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#new_preview-img{
    border-radius: 50%;
}
.channel_settings_inputs_tab{
    display: none;
}
.send_updt_req{
    display: flex;
    justify-content: center;
    align-items: center;
}
.update_channel_button{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    border-radius: 20px;
    border: 1px solid white;
    margin-top: 5%;
    user-select: none;
    transition: 0.5s;
}
.update_channel_button:hover{
    background-color: #0056b3;
    border: 1px solid transparent;

}
#select_tab_3{
    display: none;
}
/* #opened_tab_3{
    display: flex;
} */
.select_your_channel{
    margin-top: 5%;
    width: 90%;
    height: 10%;
}
.select_channel_tab{
    flex-direction: column;
    width: 35%;
    display: flex;
    align-items: center;
    /* justify-content: cenwter; */
}
/* option{
    border-radius: 20px;
} */
.create_channel_post_tab{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
    /* background-color: #fff; */
}
.create_channel_post{
    width: 65%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.create_channel_post_rect{
    border: 1px solid #fff;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
    /* height: 100%; */
    /* height: 100%; */
    overflow-y: auto;
}
.input_channel_post_text{
    /* border-radius: 20px; */
    width: 100%;
    /* height: 100%; */
    /* overflow-y: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid red; */
}
.channel_post_data{
    /* margin-top: 1%; */
    width: 100%;
    /* height: min-content; */
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.textarea_input_channel_post_text{
    width: 90%;
    height: 20vh;
    padding: 5%;
    /* height: 30%; */
    resize: none;
    margin-top: 5%;
    /* margin-bottom: 2%; */
}
.textarea_input_channel_post_text::placeholder{
    font-style: italic;
    color: gainsboro;
}
.create_channel_post_header>img{
    width: 10%;
    border-radius: 50%;
    /* border: 1px solid red; */
}
.create_channel_post_header{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 2%;
}
.post_channel_author{
   /* border: 1px solid red; */
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   user-select: none;
   /* align-items: center; */
   /* height: 100%; */
}
.post_channel_date{
    user-select: none;
    /* border: 1px solid red; */
    font-size: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.publish_channel_post{
    display: flex;
    justify-content: center;
    align-items: center;
}
.publish_channel_post_button{
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid white;
    padding: 1%;
    border-radius: 20px;
    user-select: none;
    transition: 0.5s;
}

.publish_channel_post_button:hover{
    background-color: #0056b3;
    border: 1px solid transparent;
}
#label_for_upload_images_new_post_channel{
    margin-bottom: 2%;
}
.label_for_channel_avatar_upload{
    font-style: normal;
    border: 1px solid white;
    margin-bottom: 5%;
    padding: 1%;
    width: 40%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    transition: 0.5s;
}
.label_for_channel_avatar_upload:hover{
    background-color: #0056b3;
    border: 1px solid transparent;
}
.delete_channel{
    display: flex;
    width: 100%;
    margin-top: 5%;
    justify-content: center;
    /* align-items: center; */
}
.delete_channel_button{
    user-select: none;
    width: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-radius: 20px;
    transition: 0.5s;
}
.delete_channel_button:hover{
    background-color: red;
    border: 1px solid transparent;
}
.search_channel_tab{
    display: none;
}
.search_channel_tab_left_side{
    display: flex;
    float: left;
    width: 40%;
    flex-direction: column;
    height: 100%;
    /* justify-content: center; */
    /* background-color: #0056b3; */
}
.search_channel_tab_right_side{
    display: flex;
    width: 60%;
    float: right;
}
#searched_channel_name{
    width: 75%;
}
.serarch_channel_input_box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* justify-content: center; */
}
.serarch_channel_button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    width: 20%;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
}
.search_channel_results{
    /* background-color: #0056b3; */
    height: 100%;
    overflow-y: auto;
}
.search_channel_result_tab{
    margin-top: 5%;
    height: 25%;
    display: flex;
    flex-direction: row;
}
.search_channel_result_photo{
    /* height: 90%; */
    /* border: 1px solid red; */
    /* justify-content: center; */
    /* align-items: center; */
    /* display: flex; */
    width: 20%;
}
.search_channel_result_photo>img{
    /* height: 90%; */
    display: flex;
    margin-top: 6%;
    /* justify-content: center; */
    /* align-items: center; */
    border-radius: 50%;
}
.search_channel_result_options{
    display: flex;
    justify-content: space-around;
    height: 50%;
}
.search_channel_result_options>div{
    border: 1px solid white;
    border-radius: 20px;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-bottom: 1%;
    user-select: none;
    transition: 0.5s;
}
.search_channel_result_name{
    height: 50%;
}
.search_channel_result_right_side{
    width: auto;
    border: 1px solid red;
    width: 100%;
    /* right: 0; */
    /* float: right; */
}
.subscibe_channel:hover, .open_channel:hover{
    background-color: #0056b3;
    border: 1px solid transparent;
}
.unsubscibe_channel:hover{
    background-color: red;
    border: 1px solid transparent;
}
.search_channel_result_name{
    padding-left: 5%;
    font-size: 110%;
}
.opened_channel_subscription{
    display: flex;
    /* background-color: red; */
    width: 60%;
    flex-direction: column;
    height: 100%;
}
.opened_channel_subscription_header{
    border: 1px solid red;
    height: 3.5em;
    display: flex;
    flex-direction: row;
}
.opened_channel_subscription_header_avatar{
    /* height: 100%; */
    display: flex;
    margin-left: 2%;
    justify-content: center;
    align-items: center;
}

.opened_channel_subscription_header_avatar>img{
    height: 90%;
    border-radius: 50%;
}
.text_channel_info{
    margin-left: 2%;
    height: 100%;
    display: flex;

    flex-direction: column;
    width: 30%;
}
.text_channel_info>div{
    user-select: none;
    height: 50%;
    display: flex;

}
.text_channel_count_subscribers{
    font-style: italic;
    color: rgba(255, 255, 255, 0.5);
}
.unsubscribe_channel_button{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 60%; */
    padding: 5%;
    border-radius: 20px;
    transition: 0.5s;
    user-select: none;
}
.unsubscribe_channel_button:hover{
    background-color: red;
    border: 1px solid transparent;
}
.unsubscribe_channel{
    margin-left: 5%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.opened_channel_subscription_posts{
    /* background-color: red; */
    height: 100%;
    overflow-y: auto;
}
